<div class="w-full p-4">
	<div class="w-full mb-4">
		<label for="authors" class="block text-gray-700 font-bold"
			>Select authors:</label
		>
		<input
			#autocompleteInput
			type="text"
			class="w-full border rounded-md py-2 px-4 focus:outline-none"
			placeholder="Start typing authors name"
			id="authors"
			[(ngModel)]="searchTerm"
			(input)="searchAuthors(searchTerm)"
		/>
		<ul
			class="form-authors-autocomplete"
			*ngIf="showAutocomplete && filteredAuthors.length > 0"
		>
			<li
				*ngFor="let author of filteredAuthors; let i = index"
				(click)="selectAuthorFromList($event, author)"
			>
				{{ author.name }}
			</li>
		</ul>
	</div>

	<p class="block text-gray-700 font-bold">Authors:</p>
	<div class="w-full p-4 border rounded-md py-2 px-4 focus:outline-none">
		<ul class="flex items-center rounded-md mr-2">
			<li
				class="border p-2 mr-2"
				*ngFor="let author of selectedAuthors; let i = index"
			>
				{{ author.name }}
				<button (click)="removeAuthor(i)">x</button>
			</li>
		</ul>
	</div>
</div>
