<article class="flex items-center justify-between w-full">
	<div class="w-3/4 md:w-full sm:w-full">
		<div class="flex items-center justify-between sm:flex-col">
			<h3 class="font-semibold text-3xl flex items-center w-3/4">
				{{ course.name | uppercase }}
				<div *ngIf="course.isTopRated">
					<img
						src="assets/svg/star-svgrepo-com.svg"
						alt="star icon"
						class="ml-3 mt-1"
					/>
				</div>
			</h3>
			<div class="flex text-slate-400 sm:mb-6">
				<p class="mr-5 flex whitespace-nowrap">
					<img class="w-4 mr-1" src="assets/svg/clock.svg" alt="clock" />
					{{ course.length | duration }}
				</p>
				<p class="flex whitespace-nowrap">
					<img class="w-4 mr-2" src="assets/svg/calendar.svg" alt="clock" />
					{{ dateToDisplay | date : 'd MMM, y' }}
				</p>
			</div>
		</div>
		<div>
			<p class="text-slate-500 text-lg mt-4">{{ course.description }}</p>
		</div>
	</div>
	<div class="flex w-1/4 md:mt-6 sm:mt-6 ml-8 items-center justify-center">
		<app-button
			[buttonText]="'Edit'"
			[svgIcon]="editIconSvg"
			class="mr-5"
			(click)="editButtonHandler()"
		></app-button>
		<app-button
			[buttonText]="'Delete'"
			[svgIcon]="deleteIconSvg"
			(click)="deleteButtonClickHandler()"
		></app-button>
	</div>
</article>
