<header
	class="flex items-center justify-between w-screen bg-slate-700 px-10 sm:flex-col sm:pb-5"
>
	<app-logo></app-logo>
	<div class="flex justify-around items-center text-xl w-64">
		<p class="font text-white flex items-center" *appIfAuthenticated>
			<img src="assets/svg/user.svg" alt="user icon" />
			<span>{{ userName }}</span>
		</p>
		<button
			class="text-white flex items-center"
			*ngIf="!isAuthenticated"
			(click)="showLoginPage()"
		>
			<img src="assets/svg/logout.svg" alt="user icon" /> LogIn</button
		><button
			class="text-white flex items-center"
			*appIfAuthenticated
			(click)="logOut()"
		>
			<img src="assets/svg/logout.svg" alt="user icon" />
			Logoff
		</button>
	</div>
</header>
