<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="isOpen">
	<div class="flex items-center justify-center min-h-screen px-4 text-center">
		<div
			class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
			(click)="closeModal()"
		></div>

		<div
			class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
		>
			<div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
				<ng-content></ng-content>
			</div>
		</div>
	</div>
</div>
