<div class="flex items-center">
	<div class="relative">
		<span
			class="absolute inset-y-0 left-0 flex items-center pl-3"
			[innerHTML]="searchIcon"
		>
		</span>
		<input
			type="search"
			class="border border-gray-300 rounded-l pl-10 pr-4 py-2 focus:outline-none focus:ring-1 focus:ring-green-500 focus:ring-offset-1 focus:ring-offset-green-500"
			placeholder="Search"
			[(ngModel)]="searchString"
			(input)="handleInputChange()"
		/>
	</div>
	<button
		class="bg-green-500 hover:bg-green-600 text-white font-bold px-4 py-2 rounded-r focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-0 md:duration-300 transform active:scale-95"
		(click)="searchHandler()"
	>
		Search
	</button>
</div>
